.modal-overlay {
  position: fixed;
  background-color: $overlay;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $veryLightGray;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 20px;

    strong {
      font-size: 18px;
      color: $darkBlue;
      display: block;
      margin-bottom: 15px;
    }

    .modal-warning-text {
      color: $grayishBlue;
      display: block;
      margin-bottom: 15px;
    }

    .modal-container-btns {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        border-radius: 8px;
        padding: 12px 25px;
        color: $veryLightGray;
        font-weight: 500;

        &:nth-child(1) {
          background-color: $darkBlue;
        }

        &:nth-child(2) {
          background-color: $softRed;
        }
      }
    }
  }
}
